/* icon */
.c-icon {
	width: 1rem;
	height: 1rem;
	font-size: 1rem;
	vertical-align: middle;
}
/* custom */
.c-app {
	background-color: #f4f6f8;
}
.c-header {
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 3.6rem;
	padding: 0 1rem;
	border: 0;
	box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14),
		0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
	background-color: #1c2260;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
.c-sidebar {
	position: fixed;
	top: 3.6rem;
	left: 0;
	bottom: 0;
	z-index: 999;
	width: 256px;
	color: #454f5b;
	overflow-y: auto;
	background-color: #f4f6f8;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
	box-shadow: 0 2px 0 1px #ccc;
}
.c-wrapper {
	padding-top: 3.6rem;
	padding-left: 256px;
	background-color: #ebedef;
	-webkit-transition: margin-left 0.3s ease;
	transition: margin-left 0.3s ease;
}
.c-body {	
	height: calc(100vh - 3.6rem);
}
.c-main {
	padding: 1rem;
}
.c-init,.c-create {
	width: 100%;
}
.c-main .card {
	position: relative;
	min-height: 10rem;
    padding: 1rem;
    overflow: hidden;
}
.c-tab-container {
	overflow-y: auto;
}

/* scrollbar */
.c-sidebar::-webkit-scrollbar,
.c-tab-container::-webkit-scrollbar {
    width: 8px;
}
.c-sidebar::-webkit-scrollbar-track,
.c-tab-container::-webkit-scrollbar-track  {
    background-color: #fff;
}
.c-sidebar::-webkit-scrollbar-thumb,
.c-tab-container::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}
/* table title */
.c-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.c-option-title {
	font-weight: 600;
	font-size: 1.6rem;	
}
.table-responsive-sm { overflow-x: auto; }
.c-table,
.c-form {
	margin-top: 1rem;
	border-radius: .5rem;
	overflow: hidden;
}
/* sidebar */
.c-sidebar-nav,
.c-child-menu {
	padding-left: 0;
}
.c-child-menu .c-sidebar-nav-link {
	padding-left: 2rem;
}
.c-sidebar-nav-item {
	position: relative;
	list-style: none;
}
.c-child-menu {
	display: none;
}
.c-sidebar-nav-link {
	display: flex;
	align-items: center;
	padding: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	color: #454f5b;
	cursor: pointer;
}
.c-sidebar-nav-icon {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.5rem;
	fill: #454f5b;
}
.c-sidebar-nav-link:hover,
.c-sidebar-nav-item.active .c-sidebar-nav-link,
.c-sidebar-nav-item.active .c-child-menu {
	color: #fff;
	background-color: #7d50af;
}

.c-sidebar-nav-link:hover .c-sidebar-nav-icon,
.c-sidebar-nav-item.active .c-sidebar-nav-icon {
	fill: #fff;
}
.c-sidebar-nav-item.current-page .c-sidebar-nav-link {
	color: #fff;
	background-color: rgba(70, 56, 194, 0.6);
	pointer-events: none;
}
.c-sidebar-nav-item.current-page .c-sidebar-nav-icon {
  	fill: #fff;
}
.c-sidebar-nav-item.active .c-child-menu {
	display: block;
}
/* header dropdown */
.c-sidebar-nav-dropdown-toggle .icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 3rem;
	height: 3rem;	
	padding: .75rem;
	cursor: pointer;
}
.c-sidebar-nav-dropdown-toggle .icon:after {
	content: "";
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
	background-color: #7d50af;
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0ncmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpJyBkPSdNOS4xNDggMi4zNTJsLTQuMTQ4IDQuMTQ4IDQuMTQ4IDQuMTQ4cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MmwtMS4yOTcgMS4yOTdxLTAuMTQ4IDAuMTQ4LTAuMzUyIDAuMTQ4dC0wLjM1Mi0wLjE0OGwtNS43OTctNS43OTdxLTAuMTQ4LTAuMTQ4LTAuMTQ4LTAuMzUydDAuMTQ4LTAuMzUybDUuNzk3LTUuNzk3cTAuMTQ4LTAuMTQ4IDAuMzUyLTAuMTQ4dDAuMzUyIDAuMTQ4bDEuMjk3IDEuMjk3cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MnonLz48L3N2Zz4=);
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	background-position: center;
	color: #454f5b;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}
.c-sidebar-nav-item.c-sidebar-nav-dropdown-toggle.active > .icon::after {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* header-nav */
.c-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.6rem;
	height: 3.6rem;
}
.c-menu .c-icon {
	width: 1.6rem;
	height: 1.6rem;
	fill: #fff;
}
.c-logo {
	display: block;
	width: 12rem;
	height: 2rem;
	margin-left: 1rem;
	font-size: 1.5rem;
	color: #fff;
	font-weight: 500;
}
.c-logo:hover {
	text-decoration: none;
	color: #f5f5f5;
}
.c-header-nav .dropdown-menu {
	right: 0;
	left: unset;
	border: 0;
	box-shadow: 0 4px 5px 0 rgba(60, 75, 100, 0.14),
		0 1px 10px 0 rgba(60, 75, 100, 0.12), 0 2px 4px -1px rgba(60, 75, 100, 0.2);
}
.c-header-nav .dropdown-item {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	min-width: 8rem;
	padding: 0.5rem 1.25rem;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	color: #4f5d73;
	cursor: pointer;
}
.c-header-nav .dropdown-item:hover {
	background-color: #ebedef;
}
.c-header-nav .dropdown-item .c-icon {
	margin-right: 0.5rem;
	font-size: 1rem;
}
.c-avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	background-color: #fff;
}
.c-avatar > img {
	width: 100%;
	height: 100%;
}

/* responsive layout */
@media only screen and (max-width: 575px) {
	.c-sidebar {
		left: -300px;
	}
	.c-wrapper {
		padding-left: 0;
	}
}

@media only screen and (min-width: 576px) {
	.c-menu {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
}
/* c-mask */
.c-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.c-mask .spinner-border {
	width: 3rem;
	height: 3rem;
}
.c-table {
	border: 0;
	box-shadow: 0 0 1px 1px #ccc;
	background-color: #fff;
}
.c-table-content {
	min-height: 12rem;
	padding: 1rem 1.5rem;
}
.c-table-content th {
	white-space: nowrap;
}
.c-table-content tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 21, 0.05);
}
.c-table-content tbody tr:hover {
	background-color: #ccc;
}
.c-table-content td {
	vertical-align: middle;
}
.c-table-table {
	margin-top: 2rem;
	border-bottom: 2px solid #ccc;
}
.c-table-table .btn {
	margin: 0.5rem;
}
.c-table-table .c-icon {
	fill: #fff;
}
.c-table-img {
	width: 3rem;
	height: 3rem;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
.c-table-img > img,
.c-upload-img > .c-backshow > img {
	max-width: 100%;
	max-height: 100%;
}
.c-table-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border: 2px solid #f5f5f5;
	border-radius: 2px;
}
.c-table-content tbody tr:nth-of-type(odd) .c-table-icon {
	border-color: #e8e8e8;
}
.c-table-icon > .c-icon {
	width: 2rem;
	height: 2rem;
	fill: #d5d5d5;
}
#table-pagination > nav {
	text-align: center;
}
/* upload img */
.c-upload-img {
	position: relative;
	width: 8rem;
	height: 8rem;
	padding: 2rem;
	border: 2px dashed #ccc;
	}
.c-upload-img:hover {
  	border-color: #4638c2;
}
.c-upload-img > .c-icon {
	display: block;
	width: 4rem;
	height: 4rem;
}
.c-upload-img > .c-backshow {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	border: 1px solid #d5d5d5;
	align-items: center;
	justify-content: center;
}
.product-img-delete {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	background-color: #ff0000;
	border-radius: 0.2rem;
	cursor: pointer;
}
.product-img-delete .c-icon {
  	fill: #fff;
}
.c-upload-img .video-preview {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
	width: 3.6rem;
	height: 2rem;
	border: 1px solid #ccc;
	border-bottom-right-radius: 100%;
	background-color: #fff;
	cursor: grab;
}
.c-upload-img .video-preview:hover {
  	color: #333;
}
.c-upload-img.active:hover {
  	filter: brightness(1.1);
}
.c-upload-img.active {
  	border-color: transparent;
}
.c-upload-img.active > .c-backshow {
  	display: flex;
}
.c-upload-img.active > .video-preview {
  	display: block;
}
.c-upload-img.active > .c-icon {
  	display: none;
}
.c-upload-img > input {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	opacity: 0;
	cursor: pointer;
}
.c-upload-img .spinner {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}
.c-upload-img .spinner::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.c-upload-img .spinner > .spinner-border {
	display: inline-block;
	vertical-align: middle;
}

/* main */
.c-main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.c-title-name {
	font-size: 1.5rem;
	color: #333;
}

.c-main-body {
	min-height: 10rem;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid #f5f5f5;
	background-color: #fff;
	border-radius: .5rem;
}
/* date time range */
.c-date-time-range .controls {
	display: inline-block;
	width: 30%;
	min-width: 24rem;
    margin-left: .5rem;
}
.c-dropdown>.form-group,
.c-date-time-range>.form-group {
	display: flex;
    align-items: center;
}


/* init-loading  */
.init-loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.init-loading:before {	
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	margin-left: -25px;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-top: 2px solid #333;
	border-right: 2px solid transparent;
	animation: spinner .6s linear infinite;
	z-index: 1;
}

@-webkit-keyframes spinner {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* tabs */
.nav-tabs {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #dee2e6;
}
.nav-item {
	display: block;
    padding: .5rem 1rem;
    margin-bottom: -1px;
    color: #0d6efd;
    text-decoration: none;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .nav-link {
    background: 0 0;
    color: #495057;
    cursor: pointer;
}
.nav-tabs .nav-item.show .nav-item, .nav-tabs .nav-item.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.tab-content>.tab-pane {
    display: none;
    padding: 1rem;
}
.tab-content>.active {
    display: block;
}

/* check radio/box */
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.form-check-input {
    width: 1em;
    height: 1em;
    float: left;
    margin-top: .25em;
    margin-left: -1.5em!important;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
}


/* search block  */
.c-search {
	position: relative;
}
.c-search>.c-icon {
	position: absolute;
	left: .6rem;
    top: 1.1rem;
    fill: #ccc;
    font-size: 1.8rem;
    z-index: 9;
    cursor: pointer;
}
.c-search>.c-icon:hover {
	fill: #e55353;
}
.c-search>.form-control {
	display: flex;
	padding-left: 2rem;
	height: auto;
}
.c-search>.form-control input,
.c-search>.form-control select {
	border: none;
	flex-grow: 1;
	display: inline-block;
	padding: .5rem;
	border-color: #ccc;
	outline: none;
	box-shadow: 0 0 1px #3d3d3d;
}
.c-search>.form-control select {
	margin-left: 1rem;
	border-width: 2px;
}
.c-search>.form-control input:focus,
.c-search>.form-control select:focus {
	border-radius: .25rem;
}

/* table-tab */
.c-table-tab {
	display: flex;
	box-shadow: 0 1px 1px 1px #ccc;
}
.c-table-tab-list {
	display: flex;
}
.c-table-tab-item {
	position: relative;
	box-sizing: border-box;
	padding: 1.2rem;
	margin-right: .6rem;
	cursor: pointer;
}
.c-table-tab-item:nth-of-type(1) {
	margin-left: 1rem;
}
.c-table-tab-item.active::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #5c6ac4;
}
.c-table-tab-tempory .c-table-tab-item.active::after {
	background-color: #3d3d3d;
}
.delete-table-tab-item:hover {
	color: #2eb85c;
}
.delete-table-tab-item {
	position: absolute;
	top: .5rem;
	right: .1rem;
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	text-align: center;
	color: #ccc;
	border-radius: 50%;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	max-width: 360px;
	height: 100%;
	text-overflow: ellipsis;
}

.card-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chart-noresult {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.card-chart {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.text-red {
	color: #ff0000;
}