<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.CrmAdminMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.CrmAdmin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_account" jdbcType="VARCHAR" property="adminAccount" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_department_id" jdbcType="INTEGER" property="adminDepartmentId" />
    <result column="admin_department_name" jdbcType="VARCHAR" property="adminDepartmentName" />
    <result column="admin_shop_id" jdbcType="INTEGER" property="adminShopId" />
    <result column="admin_shop_name" jdbcType="VARCHAR" property="adminShopName" />
    <result column="admin_status" jdbcType="INTEGER" property="adminStatus" />
    <result column="admin_menu_idStr" jdbcType="VARCHAR" property="adminMenuIdstr" />
    <result column="admin_menu_nameStr" jdbcType="VARCHAR" property="adminMenuNamestr" />
    <result column="admin_menu_urlStr" jdbcType="VARCHAR" property="adminMenuUrlstr" />
    <result column="admin_createTime" jdbcType="VARCHAR" property="adminCreatetime" />
    <result column="admin_motifyTime" jdbcType="VARCHAR" property="adminMotifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_id, admin_account, admin_password, admin_name, admin_department_id, admin_department_name, 
    admin_shop_id, admin_shop_name, admin_status, admin_menu_idStr, admin_menu_nameStr, 
    admin_menu_urlStr, admin_createTime, admin_motifyTime
  </sql>
  
  <insert id="insert" parameterType="com.atguigu.bean.CrmAdmin">
    insert into tb_crm_admin (admin_id, admin_account, admin_password, 
      admin_name, admin_department_id, admin_department_name, 
      admin_shop_id, admin_shop_name, admin_status, 
      admin_menu_idStr, admin_menu_nameStr, admin_menu_urlStr, 
      admin_createTime, admin_motifyTime)
    values (#{adminId,jdbcType=INTEGER}, #{adminAccount,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=VARCHAR}, #{adminDepartmentId,jdbcType=INTEGER}, #{adminDepartmentName,jdbcType=VARCHAR}, 
      #{adminShopId,jdbcType=INTEGER}, #{adminShopName,jdbcType=VARCHAR}, #{adminStatus,jdbcType=INTEGER}, 
      #{adminMenuIdstr,jdbcType=VARCHAR}, #{adminMenuNamestr,jdbcType=VARCHAR}, #{adminMenuUrlstr,jdbcType=VARCHAR}, 
      #{adminCreatetime,jdbcType=VARCHAR}, #{adminMotifytime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.CrmAdmin">
    update tb_crm_admin
    set admin_account = #{adminAccount,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      admin_department_id = #{adminDepartmentId,jdbcType=INTEGER},
      admin_department_name = #{adminDepartmentName,jdbcType=VARCHAR},
      admin_shop_id = #{adminShopId,jdbcType=INTEGER},
      admin_shop_name = #{adminShopName,jdbcType=VARCHAR},
      admin_status = #{adminStatus,jdbcType=INTEGER},
      admin_menu_idStr = #{adminMenuIdstr,jdbcType=VARCHAR},
      admin_menu_nameStr = #{adminMenuNamestr,jdbcType=VARCHAR},
      admin_menu_urlStr = #{adminMenuUrlstr,jdbcType=VARCHAR},
      admin_createTime = #{adminCreatetime,jdbcType=VARCHAR},
      admin_motifyTime = #{adminMotifytime,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  
  <!--insertSelective -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="adminId" parameterType="com.atguigu.bean.CrmAdmin">
    insert into tb_crm_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminAccount != null">
        admin_account,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminDepartmentId != null">
        admin_department_id,
      </if>
      <if test="adminDepartmentName != null">
        admin_department_name,
      </if>
      <if test="adminShopId != null">
        admin_shop_id,
      </if>
      <if test="adminShopName != null">
        admin_shop_name,
      </if>
      <if test="adminStatus != null">
        admin_status,
      </if>
      <if test="adminMenuIdstr != null">
        admin_menu_idStr,
      </if>
      <if test="adminMenuNamestr != null">
        admin_menu_nameStr,
      </if>
      <if test="adminMenuUrlstr != null">
        admin_menu_urlStr,
      </if>
      <if test="adminCreatetime != null">
        admin_createTime,
      </if>
      <if test="adminMotifytime != null">
        admin_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminAccount != null">
        #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminDepartmentId != null">
        #{adminDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="adminDepartmentName != null">
        #{adminDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="adminShopId != null">
        #{adminShopId,jdbcType=INTEGER},
      </if>
      <if test="adminShopName != null">
        #{adminShopName,jdbcType=VARCHAR},
      </if>
      <if test="adminStatus != null">
        #{adminStatus,jdbcType=INTEGER},
      </if>
      <if test="adminMenuIdstr != null">
        #{adminMenuIdstr,jdbcType=VARCHAR},
      </if>
      <if test="adminMenuNamestr != null">
        #{adminMenuNamestr,jdbcType=VARCHAR},
      </if>
      <if test="adminMenuUrlstr != null">
        #{adminMenuUrlstr,jdbcType=VARCHAR},
      </if>
      <if test="adminCreatetime != null">
        #{adminCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="adminMotifytime != null">
        #{adminMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_crm_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <!--updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.CrmAdmin">
    update tb_crm_admin
    <set>
      <if test="adminAccount != null">
        admin_account = #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminDepartmentId != null">
        admin_department_id = #{adminDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="adminDepartmentName != null">
        admin_department_name = #{adminDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="adminShopId != null">
        admin_shop_id = #{adminShopId,jdbcType=INTEGER},
      </if>
      <if test="adminShopName != null">
        admin_shop_name = #{adminShopName,jdbcType=VARCHAR},
      </if>
      <if test="adminStatus != null">
        admin_status = #{adminStatus,jdbcType=INTEGER},
      </if>
      <if test="adminMenuIdstr != null">
        admin_menu_idStr = #{adminMenuIdstr,jdbcType=VARCHAR},
      </if>
      <if test="adminMenuNamestr != null">
        admin_menu_nameStr = #{adminMenuNamestr,jdbcType=VARCHAR},
      </if>
      <if test="adminMenuUrlstr != null">
        admin_menu_urlStr = #{adminMenuUrlstr,jdbcType=VARCHAR},
      </if>
      <if test="adminCreatetime != null">
        admin_createTime = #{adminCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="adminMotifytime != null">
        admin_motifyTime = #{adminMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  
  <!-- 查询单条selectByPrimaryKey -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  
  <!-- 查询全部selectAdminInfoAll -->
  <select id="selectAdminInfoAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_admin order by admin_id desc
  </select>
  <!-- 多条件查询selectCrmAdminByParameter -->
  <select id="selectCrmAdminByParameter" parameterType="com.atguigu.bean.CrmAdmin" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_admin 
    where admin_account = #{adminAccount,jdbcType=VARCHAR} 
    <if test="adminPassword != null">
        and admin_password = #{adminPassword,jdbcType=VARCHAR}
    </if>
  </select>
  
</mapper>